:root {
    /* Font */
--primary-font:'Roboto', sans-sherif;

/* Text color */
--primary-txt-cl: #2C2C2C;
--secondary-txt-cl: ;
--accent-txt-cl: ;

/* Backgraund colors */
--primary-bg-cl: #FFE550;
--secondary-bg-cl: ;
--batton-bg: #BBF330;
--dark-bg: #7EB101;
--light-bg: #FEFEFE;
--black-bt: #2C2C2C;


}

/* reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: currentColor;

}

/* reset end */

/* body */
body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: calc(24 / 16);
color: var(--primary-txt-cl);
}

.container {
width: 1280px;
padding-right: 15px;
padding-left: 15px;
margin-left: auto;
margin-right: auto;
}

/* Header */

.header {
background: var(--light-bg);
box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header-container {
display: flex;
height: 72px;
align-items: center;

}

.nav {
display: flex;
gap: 28px;
margin-left: 700px;
/* align-items: center; */

}

.button {
    display: block;
    width: 98px;
    padding: 6px 18px;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    background-color: var(--batton-bg);
    border-radius: 16px;
    border: none;
}

.header-button {
   margin-left: 30px;

}


/* section Hero */

h1 {
width: 514px;
padding-bottom: 28px;
font-weight: 700;
font-size: 48px;
line-height: 120%;
}

.hero-container {
padding: 27px 0px;
}

.list-hero {
display: flex;
align-items: center;
}

.text-hero {
width: 514px;
padding-bottom: 46px;
font-size: 16px;
line-height: 150%;
}

.thumb {
 width: 560px;
height: 560px;
border: 14px solid #FFE550;
border-radius: 50%;
padding: 9px;
margin-left: 172px;
}


/* section offerings */

.offerings {
padding: 100px 0px;
background-color: var(--primary-bg-cl);
}

.offerings-container {
display: flex;
align-items: center;
}

.div-offerings {
width: 573px;
margin-left: 126px;
}

h2 {
padding-bottom: 20px;
font-weight: 700;
font-size: 42px;
line-height: 120%;
}

.offerings-txt {
width: 503px;
}


.thumb-offer {
position: relative;
width: 550px;
height: 550px;
border: 5px solid rgba(255, 255, 255, 0.5);
border-radius: 50%;
}

.bg-aple {
position: absolute;
padding-left: 20px;
}

.aple {
position: absolute;
padding-left: 70px;
}

.button-offerings {
display: block;
padding: 10px 22px;
font-weight: 500;
font-size: 13px;
line-height: 1.5;
text-align: center;
text-shadow: none;
background-color: var(--light-bg);
border: 2px solid #7EB101;
border-radius: 30px;
margin-top: 60px;
}

.list-txt-offer {
display: flex;
gap: 67px;
margin-top: 40px;
}


/* section favorites */


.favorites {
padding: 100px 0px;
}

.title-favorites {
display: block;
text-align: center;
}

.txt-favorites {
text-align: center;
}

.list-favorites {
    display: flex;
   flex-wrap: wrap;
   row-gap: 33px;
   column-gap: 32px;
   padding-top: 36px;
}

.thumb-favorites {
width: 395px;
height: 395px;
border: 16px solid #FFE550;
border-radius: 50%;
padding: 25px;

}


/* section customers */

.customers {
padding: 100px 0px;
background-color: var(--primary-bg-cl);
}

.customers-container {
background-color: var(--primary-bg-cl);
}

.txt-customers {
padding-bottom: 32px;
}

.customers-list {
display: flex;
gap: 140px;
}

.response {
width: 501px;
padding: 14px 14px;
background-color: #FEFEFE;
border-radius: 0px 30px 30px 30px;
}

.stars {
display:flex;
width: 101px;
/* background-image: url(../img/icons/star.svg); */
gap: 4px;
margin-bottom: 28px;
}


/* section reviews */

.reviews {

}

.reviews-container {

}

.list-reviews {
display: flex;
align-items: center;
padding: 90px 0px;
gap: 46px;
}


/* Footer */

.footer {
background: #FEFEFE;
box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}

.footer-container {
    height: 395px;
    padding-top: 100px;
}

.nav-footer {
display: flex;
gap: 28px;
margin-top: 0px;
margin-left: 148px;
}

.footer-policy {
margin-top: 150px;
display: flex;
align-items: center;
}

.footer-list {
display: flex;
gap: 20px;
}

.footer-txt {
margin-left: auto;
}

.footer-img {
display: flex;

}