:root {
    /* Font */
--primary-font:'Roboto', sans-sherif;

/* Text color */
--primary-txt-cl: #2C2C2C;
--secondary-txt-cl: ;
--accent-txt-cl: ;

/* Backgraund colors */
--primary-bg-cl: #FFE550;
--secondary-bg-cl: ;
--batton-bg: #BBF330;
--dark-bg: #7EB101;
--light-bg: #FEFEFE;
--black-bt: #2C2C2C;


}

/* reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: currentColor;

}

/* reset end */

/* body */
body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: calc(24 / 16);
color: var(--primary-txt-cl);
}

.container {
width: 1280px;
padding-right: 15px;
padding-left: 15px;
margin-left: auto;
margin-right: auto;
}

/* Header */

.header-container {
display: flex;
height: 72px;
align-items: center;
background: var(--light-bg);
box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.nav {
display: flex;
gap: 28px;
margin-left: 700px;
/* align-items: center; */

}

.button {
    width: 98px;
    padding: 6px 18px;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    background-color: var(--batton-bg);
    border-radius: 16px;
    border: none;
}

.header-button {
   margin-left: 30px;

}


/* section Hero */

h1 {
width: 514px;
padding-bottom: 28px;
font-weight: 700;
font-size: 48px;
line-height: 120%;
}

.hero-container {
padding: 27px 0px;
}

.list-hero {
display: flex;
align-items: center;
}

.text-hero {
width: 514px;
padding-bottom: 46px;
font-size: 16px;
line-height: 150%;
}

.thumb {
width: 560px;
height: 560px;
border: 14px solid #FFE550;
border-radius: 50%;
margin-left: 172px;
}


/* section offerings */

.offerings {
padding: 100px 0px;
background-color: var(--primary-bg-cl);
}

.offerings-container {
display: flex;
align-items: center;
}

.div-offerings {
width: 526px;
margin-left: 126px;
}

h2 {
padding-bottom: 20px;
font-weight: 700;
font-size: 42px;
line-height: 120%;
}

.list-txt-offer {
margin-left: 126px;
}



.thumb-offer {
width: 550px;
height: 550px;
border: 5px solid rgba(255, 255, 255, 0.5);
border-radius: 50%;
}

.button-offerings {
width: 106px;
padding: 8px 18px;
font-weight: 500;
font-size: 13px;
line-height: 150%;
background-color: var(--light-bg);
border: 2px solid #7EB101;
border-radius: 20px;
}


/* section favorites */


.favorites {
padding: 100px 0px;}


.list-favorites {
    display: flex;
   flex-wrap: wrap;
   row-gap: 33px;
   column-gap: 32px;
   padding-top: 36px;
}

.thumb-favorites {
width: 395px;
height: 395px;
border: 16px solid #FFE550;
border-radius: 50%;
padding: 25px;
}


/* section customers */

.customers {
padding: 100px 0px;
background-color: var(--primary-bg-cl);
}

.customers-container {
background-color: var(--primary-bg-cl);
}



/* section reviews */


/* Footer */